javaVM = /usr/bin/java
popsize = 20
seed = 0
classTestFolder = /home/ruizhen/Projects/SSBSE/Cafe/com1003_cafe_8/build/classes/java/test
workingDir = /home/ruizhen/Projects/SSBSE/Cafe/com1003_cafe_8
outputDir = /home/ruizhen/Projects/SSBSE/Cafe/com1003_cafe_8/build/classes/java/main
libs = /home/ruizhen/Projects/SSBSE/Cafedependency/apiguardian-api-1.1.2.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/commons-lang3-3.0.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/javaparser-core-3.25.1.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/javaparser-core-serialization-3.25.1.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/junit-4.13.2.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/junit-jupiter-api-5.9.0.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/junit-jupiter-engine-5.9.0.jar:/home/ruizhen/Projects/SSBSE/Cafe/dependency/junit-vintage-engine-5.9.0.jar
sanity = yes
regenPaths
sourceDir = src/
positiveTests = /home/ruizhen/Projects/SSBSE/Cafe/pos.tests
negativeTests = /home/ruizhen/Projects/SSBSE/Cafe/neg.tests
jacocoPath = /home/ruizhen/Projects/SSBSE/genprog4java/lib/jacocoagent.jar
classSourceFolder = build/
targetClassName = uk.ac.sheffield.com1003.cafe.Cafe
